.section-five {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(233, 110, 39)
}

.five-input {
    padding: 10px;
    margin-top: 1rem;
    background-color: red;
    border: none;
    color: white;
}

.five-output {
    padding: 10px;
    margin-top: 1rem;
    background-color: rgb(238, 189, 189);
    border: none;
    color: rgb(0, 0, 0);
}