.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(141, 1, 1);
}